@keyframes menuWindowOpen {
    0% {
        width: 40vw;
        height: 2vh;
    }

    100% {
        width: 40vw;
        height: 50vh;
    }
}

@keyframes menuWindowClose {
    0% {
        width: 40vw;
        height: 50vh;
    }

    100% {
        width: 40vw;
        height: 2vh;

    }
}

@keyframes menuWindowOpenR {
    0% {
        width: 100vw;
        height: 1vh;
    }

    100% {
        width: 100vw;
        height: 95vh;
    }
}

@keyframes menuWindowCloseR {
    0% {
        width: 100vw;
        height: 95vh;
    }

    100% {
        width: 100vw;
        height: 1vh;

    }
}

@keyframes projectWindowOpen {
    0% {
        width: 15px;
        height: 10px;
      
    }


    100% {
        width: 40vw;
        height: 40vh;
     
    }
}

@keyframes projectWindowClose {

    to {
        width: 15px;
        height: 10px;

    }
}

@keyframes projectWindowOpenR {
    0% {
        width: 15px;
        height: 10px;
      
    }


    100% {
        width: 50vw;
        height: 40vh;
      
    }
}

@keyframes projectWindowCloseR {
    0% {
        width: 50vw;
        height: 40vh;
       
    }

    100% {
        width: 15px;
        height: 10px;

    }
}

@keyframes contactWindowOpen {
    0% {
        width: 15px;
        height: 10px;
      
    }


    100% {
        width: 40vw;
        height: 40vh;
       
    }
}

@keyframes contactWindowClose {

    to {
        width: 15px;
        height: 10px;
       

    }
}

@keyframes contactWindowOpenR {
    0% {
        width: 15px;
        height: 10px;
        
    }


    100% {
        width: 50vw;
        height: 40vh;
       
    }
}

@keyframes contactWindowCloseR {
    0% {
        width: 50vw;
        height: 40vh;
    

    }

    100% {
        width: 15px;
        height: 10px;
       

    }
}

.open-projectWindow {
    animation-name: projectWindowOpen;
    animation-duration: .6s;
    animation-timing-function: steps(7);
    animation-fill-mode: forwards;
    display: block;

}

.close-projectWindow {
    animation-name: projectWindowClose;
    animation-duration: .6s;
    animation-timing-function: steps(7);
    animation-fill-mode: forwards;
    display: block;


}

.open-contactWindow {
    animation-name: contactWindowOpen;
    animation-duration: .6s;
    animation-timing-function: steps(7);
    animation-fill-mode: forwards;
    display: block;

}

.close-contactWindow {
    animation-name: contactWindowClose;
    animation-duration: .6s;
    animation-timing-function: steps(7);
    animation-fill-mode: forwards;
    display: block;


}


.open-menuWindow {
    animation-name: menuWindowOpen;
    animation-duration: .6s;
    animation-timing-function: steps(5);
    animation-fill-mode: forwards;
    display: block;

}

.close-menuWindow {
    animation-name: menuWindowClose;
    animation-duration: .6s;
    animation-timing-function: steps(5);
    animation-fill-mode: forwards;
    display: block;


}

@media (max-width: 800px) {

    .open-menuWindow {
        animation-name: menuWindowOpenR;
        animation-duration: .6s;
        animation-timing-function: steps(5);
        animation-fill-mode: forwards;
        display: block;

    }

    .close-menuWindow {
        animation-name: menuWindowCloseR;
        animation-duration: .6s;
        animation-timing-function: steps(5);
        animation-fill-mode: forwards;
        display: block;


    }

    .open-projectWindow {
        animation-name: projectWindowOpenR;
        animation-duration: .6s;
        animation-timing-function: steps(7);
        animation-fill-mode: forwards;
        display: block;

    }

    .close-projectWindow {
        animation-name: projectWindowCloseR;
        animation-duration: .6s;
        animation-timing-function: steps(7);
        animation-fill-mode: forwards;
        display: block;


    }

    .open-contactWindow {
        animation-name: contactWindowOpenR;
        animation-duration: .6s;
        animation-timing-function: steps(7);
        animation-fill-mode: forwards;
        display: block;

    }

    .close-contactWindow {
        animation-name: contactWindowCloseR;
        animation-duration: .6s;
        animation-timing-function: steps(7);
        animation-fill-mode: forwards;
        display: block;


    }


}