@font-face {
    font-family: main;
    src: url(../fonts/main.ttf);
}

body {
    margin: 0;
    scroll-behavior: smooth;
    overflow: hidden;
    background-color: black;
    cursor: url(../img/select.cur), auto;
    font-family: main;
}

nav {
    background-color: rgb(231, 229, 229);
    width: 100%;
    height: 5vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: solid 1px;

}

#main {
    width: 100%;
    height: 95vh;
    background-image: url("../img/default.png");

}
#mobile {
    display: none;
}

#menuButton {
    position: absolute;
    height: 3vh;
    width: auto;
    margin-left: 10px;
    margin-right: 25px;
    margin-top: 1vh;
    cursor: pointer;
}

#linkContainer {
    margin-left: 2vw;
}

.link {
    position: relative;
    font-family: main;
    color: black;
    text-decoration: none;
    font-weight: bolder;
    margin-left: 50px;
    font-size: 4vh;
    vertical-align: center;
}

.folderContainer {
    display: flex;
    flex-direction: column;
    float: right;
    width: auto;
    height: auto;
    text-align: center;
}

.folder {
    display: flex;
    margin: 0;
    position: relative;
    flex-direction: column-reverse;
    float: right;
    margin-right: 1vw;
    cursor: pointer;
    text-align: center;
}

.folderImg {
    height: 150px;
    width: auto;
}

.folderName {
    position: absolute;
    font-family: main;
    background-color: rgb(228, 228, 228);
    color: black;
    padding: 8px 30px;
    font-size: 20px;
    transform: translate(.6vw, -1vw);
    float: right;
}

.folder:hover {
    .folderName {
        color: white;
        background-color: black;
    }
}

.folderName.selected {
    background-color: black;
    color: white;
}



#projectWindow {
    display: none;
    background-color: rgb(228, 228, 228);
    width: 40vw;
    height: 40vh;
    margin-left: 4vw;
    margin-top: 6vh;
    border-radius: 1px;
    position: absolute;
    border: .3vw double black;
    text-align: center;
    box-shadow: 1vw 1vw;
}

#contactWindow {
    display: none;
    background-color: rgb(228, 228, 228);
    width: 40vw;
    height: 40vh;
    margin-left: 34vw;
    margin-top: 40vh;
    border-radius: 1px;
    position: absolute;
    border: .3vw double black;
    text-align: center;
    box-shadow: 1vw 1vw;
}

#ttsWindow {
    display: none;
    background-color: rgb(228, 228, 228);
    width: 40vw;
    height: 40vh;
    margin-left: 40vw;
    margin-top: 10vh;
    border-radius: 1px;
    position: absolute;
    border: .3vw double black;
    text-align: center;
    box-shadow: 1vw 1vw;
}

#ttsX {
    margin-top: .5vh;
    margin-left: .5vh;
    position: absolute;
    width: 1vw;
    height: 1vw;
    border: .3vw double black;
    float: left;
}

#menuWindow {
    display: none;
    background-color: rgb(228, 228, 228);
    width: 40vw;
    height: 53vh;
    margin-left: 30vw;
    border-radius: 1px;
    position: absolute;
    border: .3vw double black;
    text-align: center;
}

#projectTitle,
#contactTitle,
#menuTitle,
#ttsTitle {
    font-family: main;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    height: auto;
    border: .3vw double black;
}

#tts {
    cursor: pointer;
}

#textToSpeechForm {
    display: flex;
    flex-direction: row;
}

#text {
    width: 50%;
    margin-left: 5%;
    margin-top: 2.5vh;
    resize: none;
    height: 14vh;
    border: .3vw double black;
    font-family: main;
    background-color: rgb(228, 228, 228);
}

::placeholder {
    font-family: main;

}

#speak {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-family: main;
    height: 5vh;
    background-color: black;
    color: white;
    border: .3vw double white;
}

.file {
    height: 8vh;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    float: left;
    margin-left: 1vw;
    cursor: pointer;
}

.fileText {
    font-size: 3vh;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 16vw;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    cursor: pointer;
    border-bottom: .3vw double black;
}

.projectContainer {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    width: 90%;
    height: 20vh;
    margin-top: 2.5vh;
    margin-left: 5%;
    text-align: center;
    border: .3vw double black;
}

#che,
#def,
#gre {
    cursor: pointer;
}


@media (max-width: 800px) {

    #mobile {
        display: block;
        width: 100vw;
        height: 100vh;
        z-index: 6;
        font-family: main;
        font-size: 3vw;
        background-color: black;
        color: white;
        text-align: center;
    }
    #sorry {
        font-size: 15vw;
        margin-bottom: 15vh;
        margin-top: 15vh;
    }
    #git {
        text-decoration: underline;
        color: white;
        font-size: 4vw;

    }
    #menuButton {
        display: none;
    }
  
    .folderContainer {
        display: flex;
        flex-direction: row;
        float: none;
        width: 100vw;
        height: auto;
        text-align: center;
        justify-content: center;
        position: relative;
        z-index: 1;
    }

    .folder {
        margin: 5vw;
    }

    #menuWindow {
        width: 100vw;
        height: 95vh;
        margin: 0;
        border: .7vw double black;
        position: absolute;
        top: 5vh;
        z-index: 4;
    }

    nav {
        z-index: 5;
    }

    #linkContainer {
        text-align: center;
        margin-top: 1vh;
    }

    .link {
        position: relative;
        font-family: main;
        color: black;
        text-decoration: none;
        font-weight: bolder;
        margin-left: 20px;
        font-size: 3vh;
    }

    .backButton {
        font-size: 5vw;
        text-decoration: underline;
    }

    #cbg {
        font-size: 6vw;
        margin-top: 10vh;
    }

    .text {
        font-size: 4vw;
    }

    #menuTitle {
        font-size: 5vw;
    }

    #projectWindow {
        width: 50vw;
        height: 40vh;
        margin-left: 5vw;
        margin-top: 30vh;
        border-radius: 1px;
        position: absolute;
        border: .3vw double black;
        text-align: center;
    }

    #contactWindow {
        width: 50vw;
        height: 40vh;
        margin-top: 50vh;
        margin-left: 45vw;
        border-radius: 1px;
        position: absolute;
        border: .3vw double black;
        text-align: center;
    }

    #projectTitle,
    #contactTitle {
        font-family: main;
        width: 90%;
        margin-left: 5%;
        margin-top: 5%;
        height: auto;
        font-size: 2.7vw;
        border: .3vw double black;
    }

    #menuButton {
        height: 3vh;
        width: auto;
        float: left;

        cursor: pointer;
    }
    #textToSpeechForm {
        display: flex;
        flex-direction: column;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    #text {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        resize: none;
        height: 14vh;
        border: .3vw double black;
        font-family: main;
        background-color: rgb(228, 228, 228);
    }
    #ttsWindow {
        display: none;
        background-color: rgb(228, 228, 228);
        width: 40vw;
        height: 37vh;
        margin-left: 40vw;
        margin-top: 10vh;
        border-radius: 1px;
        position: absolute;
        border: .3vw double black;
        text-align: center;
        box-shadow: 1vw 1vw;
        z-index: 3;
    }
    #ttsContainer {
        height: 23vh;
    }
    #speak {
        margin-top: 1vh;
        width: 50%;
       
    }
    #tTitle {
        font-size: 3.5vw;
    }


}

@media (max-width: 500px) {
    .link {
        font-size: 2vh;
    }

    #linkContainer {
        margin-top: 1.5vh;
    }

    .fileText {
        font-size: 3vh;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 6vw;
        font-size: 2vh;
    }
    #tTitle {
        font-size: 3vw;
    }
}