//global.scss
//
//variables:
@font-face {
    font-family: main;
    src: url(../fonts/main.ttf);
}

//mixins
@mixin mainFont($fSize: 20px, $fWeight: 400) {
    font-family: "bodoni-pt-variable", sans-serif;
    font-variation-settings: "opsz" 10, "wght" $fWeight;
    font-size: $fSize;
}

html,
body {
    max-width: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    scroll-behavior: smooth;
    overflow: hidden;
    background-color: black;
}

nav {
    background-color: rgb(231, 229, 229);
    width: 100%;
    height: 5vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: solid 1px;
    z-index: 3;
    display: flex;
    align-items: center;
    @media (max-width: 500px) {
        text-align: center;
         }
}

#date {
    display: flex;
    margin-left: auto;
    margin-right: 10px;
    @include mainFont();
    @media (max-width: 500px) {
        font-size: 15px;
         }
}

.link {
    position: relative;
    //font-family: main;
    color: black;
    text-decoration: none;
    font-weight: bolder;
    margin-left: 50px;
    font-size: 4vh;
    vertical-align: center;
    @include mainFont(3vh);
    @media (max-width: 700px) {
        margin-left: 25px;
         }
         @media (max-width: 500px) {
            font-size: 20px;
            margin-left: 10px;
        
             }
             @media (max-width: 500px) {
                font-size: 15px;
                margin-left: 10px;
            
                 }

  
   
}

a {
    text-decoration: none;
    color: black;
}

#main {
    width: 100%;
    height: 95vh;
    background-image: url("../img/backgrounds/default.png");
    cursor: url(/main.cur), auto;

}

#mobile {
    display: none;
}

.backButton {
    cursor: pointer;
}

#menuButton {
    position: absolute;
    height: 3vh;
    width: auto;
    margin-left: 10px;
    margin-right: 25px;
    cursor: pointer;
}

#linkContainer {
    margin-left: 2vw;
    @media (max-width: 700px) {
        margin-left: 30px;
         }
}



.folderContainer {
    display: flex;
    flex-direction: column;
    float: right;
    width: auto;
    height: auto;
    text-align: center;
    z-index: -1;
    @media (max-width: 700px) {
        flex-direction: row;
        margin: 0;
        width: 100vw;
        justify-content: center;
    }
    
}

.folder {
    display: flex;
    margin: 0;
    position: relative;
    flex-direction: column-reverse;
    align-items: center;
    float: right;
    margin-right: 1vw;
    cursor: pointer;
    text-align: center;
}

.folderImg {
    height: 150px;
    width: auto;
}

.folderName {
    position: absolute;
    @include mainFont(20px, 200);
    background-color: rgb(228, 228, 228);
    color: black;
    padding: 8px 20px;
}

.folder:hover {
    .folderName {
        color: white;
        background-color: black;
    }
}

.folderName.selected {
    background-color: black;
    color: white;
}



#projectWindow {
    display: none;
    background-color: rgb(228, 228, 228);
    width: 40vw;
    height: 40vh;
    margin-left: 1vw;
    margin-top: 7vh;
    border-radius: 1px;
    position: absolute;
    cursor: grab;
    border: 1vw double black;
    text-align: center;
    box-shadow: 1vw 1vw;
    z-index: 0;
    @media (max-width: 700px) {
        width: 60vw;
        height: 60vw;
        margin-top: 25vh;
        border: 2vw double black;
         }
}

#contactWindow {
    display: none;
    background-color: rgb(228, 228, 228);
    width: 40vw;
    height: 40vh;
    margin-left: 34vw;
    margin-top: 40vh;
    border-radius: 1px;
    position: absolute;
    cursor: grab;
    border: 1vw double black;
    text-align: center;
    box-shadow: 1vw 1vw;
    z-index: 0;
    @media (max-width: 700px) {
        width: 60vw;
        height: 60vw;
        margin-top: 45vh;
        border: 2vw double black;
    
         }
}



#contactWindow:hover {
    z-index: 1;
}

#projectWindow:hover {
    z-index: 1;
}


#menuWindow {
    display: none;
    background-color: rgb(228, 228, 228);
    width: 40vw;
    height: 53vh;
    margin-left: 30vw;
    border-radius: 1px;
    position: absolute;
    border: 1vw double black;
    text-align: center;
    z-index: 2;
    font-size: 2vh;
    @media (max-width: 700px) {
        width: 100vw;
        height: 100vh;
        margin: 0;
         }
}

#projectTitle,
#contactTitle,
#menuTitle,
#ttsTitle {
    @include mainFont(2.5vh, 400);
    width: 40vw;
    height: auto;
    border-bottom: .5vw double black;
    @media (max-width: 700px) {
       width: 100%;
       border-bottom: 1vw double black;
    
         }
}



#textToSpeechForm {
    display: flex;
    flex-direction: row;
}

#text {
    width: 50%;
    margin-left: 5%;
    margin-top: 2.5vh;
    resize: none;
    height: 14vh;
    border: .3vw double black;
    border-radius: none;
    @include mainFont();
    background-color: rgb(228, 228, 228);
    outline: none;
}





.file {
    height: 8vh;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    float: left;
    margin-left: 1vw;
    cursor: pointer;
}

.fileText {
    font-size: 3vh;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 16vw;
}


.folderWindow {
    height: 10vw;
    width: 10vw;
    margin: 0;
    cursor: pointer;

    img {
        width: 10vw;
        height: auto;
        margin-bottom: -2.5vw; 
    }

    p {
        margin: 0; 
    }
    @media (max-width: 500px) {
        height: 20vw;
        width: 20vw;
        img {
            width: 15vw;
            height: auto;
        }
        p {margin-top: 0;}
    
         }
}


.projectContainer {
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 25vh;
    text-align: center;
}


#menuWindow {
    overflow-y: scroll;
    overflow-x: hidden;
}

#che,
#def,
#gre {
    cursor: pointer;
}

