@font-face {
    font-family: main;
    src: url(../fonts/main.ttf);
}

body {
    margin: 0;
    scroll-behavior: smooth;
    overflow: hidden;
    background-color: black;
    cursor: url(../img/select.cur), auto;
    font-family: main;
}

nav {
    background-color: rgb(231, 229, 229);
    width: 100%;
    height: 5vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: solid 1px;

}

#main {
    width: 100%;
    height: 95vh;
    background-image: url("../img/default.png");

}

#menuButton {
    position: absolute;
    height: 3vh;
    width: auto;
    margin-left: 10px;
    margin-right: 25px;
    margin-top: 1vh;
    cursor: pointer;
}
#linkContainer {
    margin-left: 2vw;
}

.link {
    position: relative;
    font-family: main;
    color: black;
    text-decoration: none;
    font-weight: bolder;
    margin-left: 50px;
    font-size: 4vh;
    vertical-align: center;
}

.folderContainer {
    display: flex;
    flex-direction: column;
    float: right;
    width: auto;
    height: auto;
    text-align: center;
}

.folder {
    display: flex;
    margin: 0;
    position: relative;
    flex-direction: column-reverse;
    float: right;
    margin-right: 1vw;
    cursor: pointer;
    text-align: center;
}

.folderImg {
    height: 150px;
    width: auto;
}

.folderName {
    position: absolute;
    font-family: main;
    background-color: rgb(228, 228, 228);
    color: black;
    padding: 8px 30px;
    font-size: 20px;
    transform: translate(.6vw, -1vw);
    float: right;
}

.folder:hover {
    .folderName {
        color: white;
        background-color: black;
    }
}

.folderName.selected {
    background-color: black;
    color: white;
}



#projectWindow {
    display: none;
    background-color: rgb(228, 228, 228);
    width: 40vw;
    height: 40vh;
    margin-left: 4vw;
    margin-top: 6vh;
    border-radius: 1px;
    position: absolute;
    border: .3vw double black;
    text-align: center;
    box-shadow: 1vw 1vw;
}

#contactWindow {
    display: none;
    background-color: rgb(228, 228, 228);
    width: 40vw;
    height: 40vh;
    margin-left: 34vw;
    margin-top: 40vh;
    border-radius: 1px;
    position: absolute;
    border: .3vw double black;
    text-align: center;
    box-shadow: 1vw 1vw;
}

#menuWindow {
    display: none;
    background-color: rgb(228, 228, 228);
    width: 40vw;
    height: 50vh;
    margin-left: 30vw;
    border-radius: 1px;
    position: absolute;
    border: .3vw double black;
    text-align: center;
}

#projectTitle,
#contactTitle,
#menuTitle {
    font-family: main;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    height: auto;
    border: .3vw double black;
}

.file {
    height: 8vh;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
    float: left;
    margin-left: 1vw;
    cursor: pointer;
}
.fileText {
    font-size: 3vh;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 16vw;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    cursor: pointer;
    border-bottom: .3vw double black;
 }

.projectContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 20vh;
    margin-top: 2.5vh;
    margin-left: 5%;
    text-align: center;
    border: .3vw double black;
}






#che,
#def,
#gre {
    cursor: pointer;
}


@media ( max-width: 800px) {
    .folderContainer {
        display: flex;
        flex-direction: row;
        float: none;
        width: 100vw;
        height: auto;
        text-align: center;
        justify-content: center;
        position: relative; 
        z-index: 1; 
    }
    
    .folder {
        margin: 5vw;
    }
    
    #menuWindow {
        width: 100vw;
        height: 95vh;
        margin: 0;
        border: .7vw double black;
        position: absolute; 
        top: 5vh;
        z-index: 2; 
    }
    nav {
        z-index: 3;
    }
    #linkContainer {
        text-align: center;
        margin-top: 1vh;
    }
    
.link {
    position: relative;
    font-family: main;
    color: black;
    text-decoration: none;
    font-weight: bolder;
    margin-left: 20px;
    font-size: 3vh;
}
.backButton {
    font-size: 6vw;
    text-decoration: underline;
}
#cbg {
    font-size: 8vw;
    margin-top: 10vh;
}
.text {
    font-size: 6vw;
}
#menuTitle {
    font-size: 5vw;
}

#projectWindow {
    width: 50vw;
    height: 40vh;
    margin-left: 5vw;
    margin-top: 30vh;
    border-radius: 1px;
    position: absolute;
    border: .3vw double black;
    text-align: center;
}

#contactWindow {
    width: 50vw;
    height: 40vh;
    margin-top: 50vh;
    margin-left: 45vw;
    border-radius: 1px;
    position: absolute;
    border: .3vw double black;
    text-align: center;
}
#projectTitle,
#contactTitle {
    font-family: main;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    height: auto;
    font-size: 2.7vw;
    border: .3vw double black;
}
#menuButton {
    height: 3vh;
    width: auto;
   float: left;
   
    cursor: pointer;
}

}
@media (max-width: 500px) {
    .link {
        font-size: 2vh;
    }
    #linkContainer {
        margin-top: 1.5vh;
    }
    .fileText {
        font-size: 3vh;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 14vw;
    }
}
