body {
    margin: 0;
    overflow: hidden;
    background-color: black;
    font-family: system-ui, -apple-system;
    color: white;
    text-align: center;
}

#title {
    font-size: 15vw;
    color: black;
    margin-top: 5vh;
    margin-bottom: 0;
    animation: rev 3s ease-in-out forwards;
}

h3 {
    animation: rev 2s ease-in-out forwards 2s;
    color: black;
    font-size: 3vw;
}
#note {
    animation: rev 1s ease-in-out forwards 3s;
    color: black;
    font-size: 1.5vw;
    margin-bottom: 10vh;
}
#start {
    color: black;
    font-size: 1.5vw;
    animation: rev 1s ease-in-out forwards 4s;
    cursor: pointer;
    text-decoration: none;

}


@keyframes rev {
    0% {
        color: black;
    }

    100% {
        color: white;
    }
}